button.navbar-toggler {
  background-color: white;
  border-color: solid white;
  color: darkgrey;
}

body {
  padding-top: 50px;
}

.navbar-toggler-icon {
  background-color: white;
  color: white; 
}
.navbar-toggler:hover {
  border-color: grey; 
}
.navbar {
  background-color: black;
  color: white;
  box-shadow: 0 0 7px #00ccff;
}
.navbar a {
  color: white;
}
.nav-link {
  color: white;
  transition: color 0.3s, border-bottom 0.3s !important;
  display: inline-block !important;
  transition: color 0.5s ease !important;
}
.nav-link:hover,
.nav-link.active {
  color: #00ccff !important; 

  transition: width 0.3s ease !important;
}

