body {
  background-color: black;
}
.cast .row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column-md {
  flex-direction: row;
  padding-left: 30px;
 
}
.box2 img {
  max-width: 45vw;
  height: 100% ;
  border-top-right-radius: 4px;
}
.flex-column-responsive {
  flex-direction: row;
}
.paragraph{
  font-size: 0.9rem;
}
.rating{
  font-size: 18px;
  color: rgb(3, 200, 3); 
}
.custom-col-lg-6 {
  width: 10vw;
  max-width: 100%;
  
  flex: 0 0 calc(100% / 6); /* Adjust the 10px for gap/margin as needed */
  max-width: calc(100% / 6); /* Adjust the 10px for gap/margin as needed */
}
@media (max-width: 1300px) {
  .custom-col-lg-6 {
    flex: 0 0 calc(100% / 4); /* Adjust the 10px for gap/margin as needed */
    max-width: calc(100% / 4); /* Adjust the 10px for gap/margin as needed */
  }
}
@media (max-width: 1100px) {
  .box2 img{
    max-width: 100%;
    order: 1;
    border-radius: 0;
  }
  .box1 img{
    
    display: none;
  } 
  .movieinfo h1{
    text-align: center;
    width: 100%;
  }
  .flex-column-responsive{
    flex-direction: column;
  }
  .box1{
    order: 2;
  }
  .flex-column-md {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}
@media (max-width: 870px) {
  .custom-col-lg-6 {
    flex: 0 0 calc(100% / 3); /* Adjust the 10px for gap/margin as needed */
    max-width: calc(100% / 3);
  }
}

@media (max-width: 650px) {
  .custom-col-lg-6 {
    flex: 0 0 calc(100% / 2); /* Adjust the 10px for gap/margin as needed */
    max-width: calc(100% / 2);
  }
  .moviedetails{
    flex-direction: column;
 
  }
  .overview{
    display: none;
  }
  .rating{
    text-align: center;
    
  }
}
@media (max-width: 470px) {
  .flex-column-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 440px) {

}
